<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>

  <script src="//cdn.shopify.com/s/assets/external/app.js?<%= Time.now.strftime('%Y%m%d%H') %>"></script>
  <script type="text/javascript">
    ShopifyApp.init({
      "apiKey": "<%= ShopifyApp.configuration.api_key %>",
      "shopOrigin": "<%= "https://#{ @shop_session.url }" if @shop_session %>",
      "debug": <%= Rails.env.development? ? 'true' : 'false' %>
    });

    ShopifyApp.ready(function() {
      ShopifyApp.Bar.initialize({
        title: "<%= yield(:title) %>"
      });
    });
  </script>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

  <%= yield :extra_head %>
</head>
<body>

  <%= yield %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
