<div
  id="app"
  data-api-key="<%= ShopifyApp.configuration.api_key %>"
  data-bugsnag-api-key="<%= ENV['BUGSNAG_API_KEY'] %>"
  data-debug="<%= Rails.env.development? ? 'true' : 'false' %>"
  data-environment="<%= Rails.env %>"
  data-force-redirect="<%= Rails.env.development? ? 'false' : 'true' %>"
  data-shop-origin="<%= @shop_session&.url %>"
  data-version="<%= Rails.application.class::VERSION %>"
></div>
<%= javascript_pack_tag 'embedded' %>
<%= stylesheet_pack_tag 'embedded' %>
