<section class="section">
  <div class="layout-content">
    <section class="layout-content__main">
      <div class="next-grid">
        <div class="next-grid__cell">
          <div class="next-card">

              <header class="next-card__header">
                <h1>Plan</h1>
              </header>

              <section class="next-card__section">
                <div class="form-group">
                  <%= f.label(:name, 'Name') %>
                  <%= f.text_field(:name) %>
                </div>

                <div class="form-group">
                <%= f.label(:status, 'Status') %>
                <%= f.select(:status, DiscoApp::Plan.statuses.map { |s| [s.first.humanize, s.first] }) %>
                </div>

                <div class="form-group">
                <%= f.label(:plan_type, 'Plan Type') %>
                <%= f.select(:plan_type, DiscoApp::Plan.plan_types.map { |s| [s.first.humanize, s.first] }) %>
                </div>

                <div class="form-group">
                <%= f.label(:trial_period_days, 'Trial Period Days') %>
                <%= f.number_field(:trial_period_days) %>
                </div>

                <div class="form-group">
                <%= f.label(:amount, 'Amount') %>
                <%= f.number_field(:amount) %>
                </div>
              </section>
          </div>
        </div>
        <div class="next-grid__cell">
          <div class="next-card  next-card--aside">
              <header class="next-card__header">
                <h1>Plan Codes</h1>
              </header>

                <%= f.fields_for :plan_codes do |plan_code| %>
                  <%= render 'plan_code_fields', f: plan_code %> 
                <% end %>

                <br>

                <%= link_to_add_fields('Add New Plan Code', f, :plan_codes) %>
          </div>
        </div>
        <div class="next-grid__cell">
          <div class="next-card  next-card--aside">
            <header class="next-card__header">
              <h1>Sources</h1>
            </header>

              <%= f.fields_for :sources do |source| %>
                  <%= render 'source_fields', f: source %>
              <% end %>

            <br>

              <%= link_to_add_fields('Add New Source', f, :sources) %>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-12">
          <%= f.submit 'Save', { class: 'btn btn-primary' } %>
        </div>
      </div>
    </section>
  </div>
</section>
<script type="text/javascript">
  $('form').on('click', '.add_fields', function(event) {
    var time = new Date().getTime();
    var regexp = new RegExp($(this).data('id'), 'g');
    $(this).before($(this).data('fields').replace(regexp, time));
    event.preventDefault();
  });
</script>
