<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/admin/navbar' %>

  <div class="container-fluid">
    <div class="next-grid">
      <div class="next-grid__cell">
        <div class="next-card">
            <h1><%= yield(:title) %></h1>
        </div>
      </div>
    </div>

    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <%= yield %>
  </div>

</body>
</html>
