<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>

  <script src="https://unpkg.com/@shopify/app-bridge@2"></script>
  <script type="text/javascript">
    // Initialise the Shopify App.
    var AppBridge = window['app-bridge'];
    var createApp = AppBridge.createApp;
    createApp({
      "apiKey": "<%= ShopifyApp.configuration.api_key %>",
      "shopOrigin": "<%= "https://#{ @shop_session.domain }" if @shop_session %>",
      "host": <%= params.fetch(:host) %>,
      "debug": <%= Rails.env.development? ? 'true' : 'false' %>,
      "forceRedirect": false
    });
  </script>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', 'data-turbolinks-eval': false %>
  <%= csrf_meta_tags %>

  <%= yield :extra_head %>
</head>
<body>
  <script type="text/javascript">
    window.DiscoApp = {
      INITIAL_TITLE: "<%= yield(:title) %>",
      INITIAL_ICON: "<%= image_url("disco_app/icon.svg") %>",
      INITIAL_BUTTONS: <%= content_for?(:buttons) ? content_for(:buttons) : '{}' %>,
      INITIAL_BREADCRUMB: <%= content_for?(:breadcrumb) ? content_for(:breadcrumb) : 'undefined' %>
    };
    ShopifyApp.Bar.initialize({
      title: DiscoApp.INITIAL_TITLE,
      icon: DiscoApp.INITIAL_ICON,
      buttons: DiscoApp.INITIAL_BUTTONS,
      breadcrumb: DiscoApp.INITIAL_BREADCRUMB
    });
  </script>

  <%= yield %>

  <% flash.each do |key, message| %>
  <script type="text/javascript">
    ShopifyApp.flash<%= (key == 'error') ? 'Error' : 'Notice' %>('<%= message %>');
  </script>
  <% end %>

  <%= render 'disco_app/shared/icons' %>
</body>
</html>
