<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>

  <script src="//cdn.shopify.com/s/assets/external/app.js?<%= Time.now.strftime('%Y%m%d%H') %>"></script>
  <script type="text/javascript">
    // Initialise the Shopify App.
    ShopifyApp.init({
      "apiKey": "<%= ShopifyApp.configuration.api_key %>",
      "shopOrigin": "<%= "https://#{ @shop_session.url }" if @shop_session %>",
      "debug": <%= Rails.env.development? ? 'true' : 'false' %>
    });
  </script>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

  <%= yield :extra_head %>
</head>
<body>
  <script type="text/javascript">
    ShopifyApp.Bar.initialize({
      title: "<%= yield(:title) %>",
      icon: "<%= image_url("disco_app/icon.svg") %>",
      buttons: <%= content_for?(:buttons) ? content_for(:buttons) : '{}' %>
    });
  </script>

  <%= yield %>

  <% flash.each do |key, message| %>
  <script type="text/javascript">
    ShopifyApp.flash<%= (key == 'error') ? 'Error' : 'Notice' %>('<%= message %>');
  </script>
  <% end %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => false %>
</body>
</html>
