<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <script src="https://unpkg.com/@shopify/app-bridge@2"></script>
  <script type="text/javascript">
    // Initialise the Shopify App.
    var AppBridge = window['app-bridge'];
    var createApp = AppBridge.createApp;
    createApp({
      "apiKey": "<%= ShopifyApp.configuration.api_key %>",
      "shopOrigin": "<%= "https://#{ @shop_session.domain }" if @shop_session %>",
      "host": params.fetch(:host),
      "debug": <%= Rails.env.development? ? 'true' : 'false' %>,
      "forceRedirect": false
    });
  </script>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>

  <%= yield :extra_head %>
</head>
<body>

<%= yield %>

</body>
</html>
