<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>

  <script src="//cdn.shopify.com/s/assets/external/app.js?<%= Time.now.strftime('%Y%m%d%H') %>"></script>
  <script type="text/javascript">
    // Initialise the Shopify App.
    ShopifyApp.init({
      "apiKey": "<%= ShopifyApp.configuration.api_key %>",
      "shopOrigin": "<%= "https://#{ @shop_session.url }" if @shop_session %>",
      "debug": <%= Rails.env.development? ? 'true' : 'false' %>
    });
  </script>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

  <%= yield :extra_head %>
</head>
<body>
  <script type="text/javascript">
    window.DiscoApp = {
      INITIAL_TITLE: "<%= yield(:title) %>",
      INITIAL_ICON: "<%= image_url("disco_app/icon.svg") %>",
      INITIAL_BUTTONS: <%= content_for?(:buttons) ? content_for(:buttons) : '{}' %>,
      INITIAL_BREADCRUMB: <%= content_for?(:breadcrumb) ? content_for(:breadcrumb) : 'undefined' %>
    };
    ShopifyApp.Bar.initialize({
      title: DiscoApp.INITIAL_TITLE,
      icon: DiscoApp.INITIAL_ICON,
      buttons: DiscoApp.INITIAL_BUTTONS,
      breadcrumb: DiscoApp.INITIAL_BREADCRUMB
    });
  </script>

  <%= yield %>

  <%= render 'flash_errors' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => false %>

  <%= render 'disco_app/shared/icons' %>
</body>
</html>
